body {
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 30px;
    font-family: Avenir;
}

.container {
    margin: 0;
}

.skills {
    background-color: steelblue;
}

.columns {
    display: flex;
}

.column {
    margin: 5px
}